atomicwrites==1.4.0
attrs==21.2.0
bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
iniconfig==1.1.1
kiwisolver==1.3.1
matplotlib==3.4.2
networkx==2.5.1
numpy==1.20.2
opencv-contrib-python==4.5.2.52
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyfiglet==0.8.post1
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.25.1
scikit-image==0.18.1
scipy==1.6.3
six==1.16.0
tifffile==2021.4.8
toml==0.10.2
urllib3==1.26.4
gevent